/* style.css */
body {
    
	border: 9px solid rgb(237, 22, 22);
}


h1 {
    margin-top: -2em;
    margin-left: -2em;

    font-size: 2em;
    color: brown;
   
}

body {
    margin: auto;
    height: 810px;
    width: 790px;
    border: 1rem groove brown;
    padding: 100px;
}

button {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  }

#photo-container {
    width: 100rem;
    max-width: 800px;
    height: 700px;
    display: flex;
    align-items: center;
    margin-bottom: -10px;
    margin-top: 10px;
}

#photo-container img {
    margin-top: -20rem;

    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}
#LocalFolder{
    width: 100%;
    margin-top: 1rem;
}
#status{
    width: 100%;
    margin-top: 1rem;

}
#JSONFILE{
    margin-top: 1rem;
    width: 100%;

}

#json-file-url-input{
    width: 75%;
    margin-top: 1rem;
}

#photo-display-input{
    width: 75%;
}
#Iterating{
    width: 100%;
    margin-top: 1rem;
}

#SlideShow{

 width: 100%;
    margin-top: 1rem;
}

#controls {
    margin-top: -20rem;
    font-family: 'Times New Roman';
    font-size: 1.2em;
   
}

#range-input {
    display: flex;
    flex-direction: column;
}

#system{
    color: red 
}
#photo-container img {
    border: .5rem double black;
    display: block;
    margin-left: 11em;
    margin-right: auto;
    width: 60%;
}
#button{
    margin-top: 1rem;


}

