/* Do not remove this rule */

html {
    font-size: 14px
}



.secondlogo{
  display:flex;
  font-size: 2.5rem;
  font-size: xx-large;
  font-family: Snell Roundhand, cursive;

}
#p1:hover {
    color: red;
}

.T strong:hover {
    color: red;
}
#p1 {
    
	font-size: 1rem;
    color: brown;
font-family: 'Times New Roman', Times, serif;
}


   
  
.T {
    font-size: 3.5rem;
  }

.coner_image{
    display: flex;
   
}

table, td, th {
    border: 0.2rem solid rgb(70, 69, 69)
}
ol {
    list-style-type: decimal;
  }
  
dl {
    list-style-type:upper-alpha;
  }
ul {
    list-style-type:circle;
  }
  
  #p3{
    font-weight: 100;
    font-family:'Times New Roman', Times, serif;

  }
  .va{
    font-family: 'Times New Roman'
  }


  a:visited {
	color:rgb(28, 32, 109);
}
.header-row {
  background-color: rgba(241, 214, 168, 0.718);
  color: brown;
  }

.secondlogo{
  display:contents

    }
body{
  border: 0.6rem double brown;
  padding-left: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-right: 2rem;
  

 }
    body {
      background-color:antiquewhite;
      
    }
    
.wrapper {
  background-color: white;
      
    }
    
.container {
  border: 0.7rem solid #0535b7;

  padding-left: 3rem;
  padding-top: 3rem;
  /*width: 50%;*/
  
    
    }
    