<!DOCTYPE html>
<html lang="en">
  <head>
    <title>remove</title>
  </head>
  <body>
    <h1>Removal of All applications</h1>
    <p> All applications have been removed from the database. Number of applicants removed: <%= removedNum %> </p>
    <br>
    <a href="/">HOME</a> 
  </body>
</html>
