<!DOCTYPE html>
<html>
  <head>
    <title>Review Application</title>
  </head>
  <body>
    <h1>Review Application</h1>

    <form action="/reviewApplication" method="POST">
      <fieldset>
      <label for="email"><Strong>Email Address:</Strong></label>
      <input type="email" id="email" name="email" required>
      <br>
      <br>


    </fieldset>
      <br>
      <button type="reset">Reset</button>
      <button type="submit">Submit Request</button>
      <hr>
      <a href="/">HOME</a> 

    </form>

  </body>
</html>
