<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <h1> Display GPA's Greater than or equal to </h1>
    <form action="/SelectbyGpa" method="POST">
      <label for="Gpa">GPA:</label>
      <input type="number" id="gpa" name="gpa" required min="0" max="4" step="any">
      <br>
      <br>

      <button type="submit">Submit Request</button>
      <hr>
    </form>
    <a href="/">HOME</a> 
  </body>

</html>
